<launch>
  <include file="$(find act_map_ros)/launch/external/visensor_stereo_bag.launch" />

   <!--<include file="$(find act_map_ros)/launch/external/voxblox.launch" />-->

   <node name="act_map" pkg="act_map_ros" type="trace_map_server_node" output="screen" args="-alsologtostderr --v=1" clear_params="true">
     <rosparam command="load" file="$(find act_map_ros)/params/act_map_live.yaml"/>
     <param name="features3d_topic_name" value="/svo/features3d" />
     <param name="body_pose_topic_name" value="/svo/Twb" />
   </node>

 <node type="rviz" name="rviz" pkg="rviz" args="-d $(find act_map_ros)/cfgs/full_exp.rviz" />

</launch>
